.card-list {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.comic-list {
  display: flex;
  flex-direction: column;

  .comic-entry {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;

    .image-container {
      margin-right: 1rem;
    }

    .comic-text {
      display: flex;
      flex-direction: column;

      .comic-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        width: 100% !important;
      }
    }
  }
}