.card {
  padding: 0.5rem;

  .overlay-bottom {
    display: flex;
    justify-content: space-between;
  }

  img {
    cursor: pointer;
  }

  .overlay-bottom {
    flex-direction: row;
    justify-content: space-between;
    
    .name {
      max-width: 150px;
    }
  }
}