.modal-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);

  .modal {
    position: absolute;
    left: 25%;
    top: 25%;
    bottom: 25%;
    width: 50%;
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem;
    z-index: 1;
    flex-direction: column;
    overflow: auto;

    .modal-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .modal-title {
        font-size: 2rem;
      }

      .close-control {
        font-size: 1.8rem;
        cursor: pointer;
      }
    }

  }
}