.searchbar-container {
  display: flex;
  flex-direction: row !important;
  border-bottom: 1px solig gray;
  margin: 1.7rem;

  .logo-container {
    padding: 0.5rem 0.5rem 0 0;

    .logo {
      height: 30px;
    }
  }

  input {
    width: 100%;
    border: none;
    padding: 1rem;
    outline: none;
  }

  .bookmark-container {
    padding: 1rem 0.5rem 0 0;
  }

  .separator {
    border-left: 1px solid gray;
    margin: 0.5rem;
  }
}